html{
    position: relative;
    min-height: 100%;
}


body{ /* Code appliqué à toute la page */
    font-family: 'Work Sans', sans-serif;
    background-color: #ececec;
    margin: 0;
}

 /* ATTENTION : APPLIQUER CETTE CLASSE A TOUT LIEN AFIN DE SUPPRIMER LA DECORATION DU LIEN, NE PAS CREER UNE AUTRE CLASSE POUR CELA */
.noDeco{text-decoration: none; color: initial;}


@media (max-width: 550px){ /*code pour width <= 550 px* format téléphone*/
    .hideMobile{ /*cacher un bouton */
        display: none;
    }
    .showMobile{ /*Afficher des elements en mobile ATTENTION : N'UTILISER QUE SUR DES SAUTS DE LIGNES ET AUTRES CHOSES SIMPLES*/
        display: inline; 
    }
}