

#center{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 10%;
}

.contact{
    width: 50% !important;
    margin: 0 25% !important;
    box-shadow: 1px 1px 30px grey;
}

div > h1{
    font-weight: normal;
    font-size: 26.88px;
    margin: 0.5vh;
}

#center > p{
    text-align: center;
    line-height: 23px;
}

div > p > a{
    text-decoration: none;
    color: forestgreen;
}

div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

div > div > p{
    margin: 3px;
}

#ref{
    margin-top: 12%;
}

#education{
    text-align: justify !important;
}

@media(max-width: 1100px){
    .contact{
        width: 90% !important;
        margin: 0 5% !important;  
    }
}