/* ATTENTION : CODE NON COMPLET
        CE CODE N'EST QUE POUR L'ACTU LATERAL SUR LA PAGE D'ACCEUIL
        METTEZ CE CODE DANS LE SITE PRINCIPAL AVEC LES ELEMENTS DE ACTULATERAL.HTML POUR QUE CELA FONCTIONNE */

.actu{
    width: min-content;
    margin-right: 10px;
    font-variant: normal;
    border: 1px solid darkslategrey;
}

.listeActu{
    list-style-type: "-";
    padding-top: 1px;
    padding-bottom: 1px;
}

.ulActu{
    padding: 10px;
    margin: 0px;
}

p.ulActu{
    text-align: justify;
    padding: 10px 10px 20px;
}