html {
	font-family: 'Work Sans', sans-serif;
}

header {
	text-align: center;
	background-color: white;
	width: 90%;
	margin: auto;
}

.nav_bar {
	display: flex;
	color: black;
	padding: auto;
	justify-content: center;
	align-items: center;
}

.nav_button {
	display: flex;
	text-decoration: underline;
	color: black;
}

.bull {
	margin-left: 4px;
	margin-right: 4px;
	font-size: 40px;
	color: #068869;
	vertical-align: text-top;
}

.header_img {
	display: flex;
	margin: auto;
	justify-content: center;
}