#containerMenu{
    background-image: linear-gradient(to bottom, rgb(0,0,255), rgb(130,0,130) );
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#itemMenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#imgMenu{
}

#txtMenu{
    font-size: 30px;
    font-weight: bold;
    padding-left: 8px;
    color: lightsalmon;
}