html {
    font-family: 'Work Sans', sans-serif;
}

body{
    background-image: url("BG.jpg");
    margin: 0 auto;
    background-attachment: fixed;
}

.boxhaut{
    width: 100%;
    height: 330px;
    background-color: #ececec;
}

.boxmid{
    width: 100%;
    height: 420px;
    background: rgba(236,236,236,0.5);
}

.boxbas{
    width: 100%;
    height: 330px;
    background-color: #ececec;
}

.navbar {
    overflow: hidden;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
}

.navbar-right {
    float: right;
    padding: 10px 10px;
}

.navbar a:hover {
    color: forestgreen;
}

.anoynymat{
    font-size: 18px;
}

.Central{
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

.bvn{
    font-weight: normal;
    font-size: 30px;
}

.pitch{
    font-style: italic;
    font-weight: normal;
    margin-top: 40px;
}

.txt{
    padding-left: 420px;
    padding-right: 420px;
    font-size: 15px;
}
.link{
}

.txtlink{
    font-size: 14px;
}

.linkhref {
    font-size: 14px;
    text-decoration: none;
    color: #9bb780;
}

.accueil-basdepage {
    background-color: #b7b7b7;
    color: #fff;
    width:100%;
    border-top : 5px solid #919191;
    height:80px;
    text-align:center;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    }

#espace {
margin-left:25px;
margin-right:25px;
}