body{
    font-family: 'Work Sans', sans-serif;
    background-color: #ececec;
    margin: 0;
}

 /* ATTENTION : APPLIQUER CETTE CLASSE A TOUT LIEN AFIN DE SUPPRIMER LA DECORATION DU LIEN, NE PAS CREER UNE AUTRE CLASSE POUR CELA */
.noDeco{text-decoration: none; color: initial;}


/* Début code header */

header{
    padding: 1% 1.5%;
}

.navbar-right { 
    float: right;
    display: grid;
    grid-template-columns: 0.4fr 0.7fr 1fr;
}

header > .navbar-right > a {
    float: left;
    text-align: center;
    text-decoration: none;
    color: black;
}

header > .navbar-right > a:hover {color: forestgreen;}

/* Fin code header */

/* Début code texte de bienvenue*/

#bienvenue{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bienvenue > h1{
    font-weight: normal;
    font-size: 1.4vw;
    margin: 0.5vh;
}

#bienvenue > p{
    font-size: 0.9vw;
    max-width: 70%;
    text-align: center;
}

#bienvenue > p > a{color: forestgreen;} #bienvenue > p > a:hover{color: rgb(22, 94, 22);}

/*Fin texte de bienvenue */

/* Début menu */

#menu{
    background-image: url("Photos/BG.png");
    background-position: 0 30%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    padding: 2vh 0;
}
#menu > a{ /* Code élément menu */
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    padding: 2%;
    align-items: center;
}
#menu > a > p{
    font-size: 1.2vw;
    font-weight: 550;
    transition: 0.5s;
}
#menu > a > img{
    object-fit: contain;
    max-width: 120px;
    max-height: 120px;
    width: 20vw;
    height: 20vh;
    transition: 0.5s;
}

#menu > a:hover > img{transform: scale(1.02) rotate(4deg);}

/* Fin menu */

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: rgb(165, 164, 164);
    border-top : 5px solid rgb(114, 114, 114);    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer > p{
    margin: 0.3%;
    font-size: 0.7vw;
    text-align: center;
}


@media (max-height: 890px){ /* Code pour footer responsif*/
    footer{
        position: relative;
        bottom: -20vh;

    }
}

@media (max-width: 550px){
    .hideMobile{
        display: none;
    }
    header > .navbar-right{
        grid-template-columns: 0.4fr 0.7fr;
    }
    header > .navbar-right > a{
        padding-left: 5vw;
    }
    #menu{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1500px){
    #bienvenue > h1{
        font-size: 21px;
    }
    #bienvenue > p{
        font-size: 13.5px;
    }
    #menu > a > p{
        font-size: 18px;
    }
    #menu > a > img{
        width: 7.5vw;
        height: 7.5vw;
    }
    footer > p{
        font-size: 10.5px;
    }
}