div{
    display: flex;
}

#txt1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2%;
    flex-basis: 50%;
    float: right;
}

#txt2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2%;
    flex-basis: 50%;
    float: right;
}


#txt > h1{
    font-size: 1.4vw;
}

#txt > p{
    font-size: 0.9vw;
    text-align: center;
}