#txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2%;
    text-align: center;
    width: 95%;
    font-size: 1.1vw;
}

.Ecole{
    height:20px;
}

#txt > h1{
    color: green;
}


#txt > h1{
    font-size: 1.4vw;
}

#txt > p{
    font-size: 0.9vw;
    text-align: center;
}