#basis{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 3%;

  }
  
#basis > img{
    height :500px;
    width :500px;
    object-fit : contain;
  }

#basis > #txt > p{
    text-align: justify;
    text-align-last: center;
}
#basis > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

h1{
    font-size: 1.6vw;
    color: forestgreen;
}

@media(max-width : 1700px){
    #basis > div > p{
        font-size: 4vw;
    }
    #basis > div > h1{
        font-size: 10vw;
    }
    #imgschool{
        display: none;
    }
}