#myInput {
    background-image: url('/css/searchicon.png'); /* Ajouter une icône de recherche à la saisie */
    background-position: 10px 8px; /* Positionner l'icône de recherche */
    background-repeat: no-repeat; /* Ne pas répéter l'image de l'icône */
    width: 100%; 
    font-size: 16px; /* Augmenter la taille des polices */
    padding: 12px 20px 12px 40px; /*  Ajouter du rembourrage */
    border: 1px solid #ddd; /* Ajouter des bordures grises */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myUL {
    /* Supprimer le style de liste par défaut */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid #ddd; /* Ajouter une bordure à tous les liens */
    margin-top: -1px; /* Prévenir les doubles bordures */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Ajouter du rembourrage */
    text-decoration: none; /* Supprimer le texte souligné par défaut */
    font-size: 18px; /* Taille de la police */
    color: black; /* Texte en noir */
    display: block; /* Elément de bloc pour remplir toute la liste */
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee; /* Ajouter un effet de survol à tous les liens, à l'exception des en-têtes */
  }

  