#basis{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    text-align: justify;
    text-align-last: center;
}

#txt1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 2%;
    width: 90vw;
    border-bottom: solid 2px grey;
}

#txt2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 2%;
    width: 90vw;
}

#separateur{
    background-color: gray;
    width: 3px;
    border-radius: 1px;
}

#basis > div > p{
    font-size: 1vw;
    line-height: 140%;
}

#basis > div > h1{
    font-size: 1.6vw;
    color: forestgreen;
}

@media(max-width : 1700px){
    #basis > div > p{
            font-size: 4vw;
    }
    #basis > div > h1{
        font-size: 7vw;
    }
}